openapi: 3.1.0
info:
  version: '1.0'
  title: Cordial Treasury
  summary: Programmatic API for Cordial Treasury
  description: |-
    The Cordial Treasury programmatic API offers a resource-oriented REST API.

    Each resource (such as `Account`, `Address`, `Transfer`, `User`) has CRUD endpoints exposed.

    Top-level resources have a
    - type `Resource` (singular)
    - collection ID `<resources>` (plural)
    - resource ID `{resource}`
    - resource name `/<resources>/{resource}`

    The resource ID is resource-specific, but always URL-safe and may only contain ASCII letters, ASCII digits, underscores, and dashes (`A-Za-z0-9_-`).

    Resources may offer the following standard operations:
    - Create Resource (not specifying resource ID) as `POST` to endpoint `/<resources>`
    - Create Resource (specifying resource ID) as `PUT` to endpoint `/<resources>/{resource}`
    - List Resources as `GET` to endpoint `/<resources>`
    - Get Resource as `GET` to endpoint `/<resources>/{resource}`
    - Update Resource as `PUT` to endpoint `/<resources>/{resource}`
    - Delete Resource as `DELETE` to endpoint `/<resources>/{resource}`

    Note that, for operations on existing resources, the endpoint path and resource name correspond. For example, a user with user name `someone@example.com` may have resource name `users/31725`, and can be retrieved via `GET` request to `<API base URL>/users/31725`.

    Some resources naturally have parent resources, for instance an `Address` resource always has a parent `Chain` resource. In this case the resource name reflects this nesting, as do the corresponding endpoints for Get, Update, and Delete.

    The read-only operations Get and List directly return the corresponding resource or list of resources.

    Write operations may require approvals by other human or machine users. Therefore, operations Create, Import, Update, and Delete return the special `Operation` resource, which is
    - referenced by other users to
      - approve via `POST` to`/operations/{operation}/approve`, or
      - challenge via `POST` to `/operations/{operation}/challenge`
    - polled via `GET` to `/operations/{operation}` to eventually return the requested resource.

    Resources "exist" (are assigned a resource name, listed via List and retrievable via Get) as soon as there are sufficiently many approvals.

    There are two layers of authentication:
    - Web2 authentication, giving read access
    - Web3 authentication, giving write access as configured by the IAM and policy system
  termsOfService: 'https://cordialsystems.com/terms-of-service'
  contact:
    email: support@cordialsystems.com
    url: 'https://cordialsystems.com'
    name: Cordial Systems
  license:
    name: Apache 2.0
    identifier: Apache-2.0
servers:
  - url: 'https://treasury.cordialapis.com/v1'
    description: Production
  - url: 'http://localhost:8777/v1'
    description: Development (port TRSR)
paths:
  /accounts:
    get:
      tags:
        - Account
      summary: List Accounts
      operationId: list-accounts
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Account
      summary: Create Account
      operationId: create-account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          $ref: '#/components/responses/OperationNameJson'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/accounts/{account}':
    get:
      tags:
        - Account
      summary: Get Account
      description: ''
      operationId: get-account
      parameters:
        - name: account
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          headers:
            header-0:
              schema:
                type: string
            header-1:
              schema:
                type: string
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Account
      summary: Update Account
      operationId: update-account
      parameters:
        - name: account
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Account
      summary: Delete Account
      description: ''
      operationId: delete-account
      parameters:
        - name: account
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Account
      summary: Create Account
      operationId: import-account
      parameters:
        - name: account
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/accounts/{account}/fee-payer':
    post:
      tags:
        - Account
      summary: Update fee pay Policy
      operationId: fee-payer-account
      parameters:
        - name: account
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplicitFeePayerPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /addresses:
    get:
      tags:
        - Address
      summary: List Addresses
      description: ''
      operationId: list-addresses
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/accounts/{account}/addresses':
    get:
      tags:
        - Address
      summary: List Account Addresses
      operationId: get-account-addresses
      parameters:
        - name: account
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}/addresses/{address}':
    get:
      tags:
        - Address
      summary: Get Address
      operationId: get-address
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Address
      summary: Delete Address
      operationId: delete-address
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Address
      summary: Update Address
      description: ''
      operationId: update-address
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Address
      summary: Import Address
      description: The imported address will have `external` variant.
      operationId: import-address
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}/addresses/{address}/fee-payer':
    post:
      tags:
        - Address
      summary: Update fee pay Policy
      operationId: fee-payer-address
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
        - name: address
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplicitFeePayerPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /assets:
    get:
      tags:
        - Asset
      summary: List Assets
      operationId: list-assets
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}/assets/{asset}':
    get:
      tags:
        - Asset
      summary: Get Asset
      operationId: get-asset
      parameters:
        - name: asset
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Asset
      summary: Update Asset
      description: ''
      operationId: update-asset
      parameters:
        - name: asset
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Asset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Asset
      summary: Delete Asset
      description: ''
      operationId: delete-asset
      parameters:
        - name: asset
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Asset
      summary: Import Asset
      description: The variant must be specified as `native` or `token`.
      operationId: import-asset
      parameters:
        - name: asset
          in: path
          required: true
          schema:
            type: string
        - name: chain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Asset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /chains:
    get:
      tags:
        - Chain
      summary: List Chains
      description: ''
      operationId: list-chains
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}':
    get:
      tags:
        - Chain
      summary: Get Chain
      operationId: get-chain
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chain'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Chain
      summary: Update Chain
      operationId: update-chain
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chain'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Chain
      summary: Delete Chain
      operationId: delete-chain
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Chain
      summary: Import Chain
      operationId: import-chain
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chain'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /credentials:
    get:
      tags:
        - Credential
      summary: List Credentials
      description: ''
      operationId: list-credentials
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/users/{user}/credentials/{credential}':
    get:
      tags:
        - Credential
      summary: Get Credential
      operationId: get-credential
      parameters:
        - name: credential
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Credential
      summary: Update Credential
      operationId: update-credential
      parameters:
        - name: credential
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Credential
      summary: Delete Credential
      description: ''
      operationId: delete-credential
      parameters:
        - name: credential
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Credential
      summary: Import Credential
      description: |-
        There are two main cases:
        - User in path and user signing are different, variant is `invite`. This corresponds to an "administrator" of sorts creating an invite credential.
        - User in path and user signing are the same, variant is not `invite`. This corresponds to a user adding themselves another credential.
      operationId: create-credential
      parameters:
        - name: credential
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /operations:
    get:
      tags:
        - Operation
      summary: List Operations
      description: ''
      operationId: list-operations
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/operations/{operation}':
    get:
      tags:
        - Operation
      summary: Get Operation
      operationId: get-operation
      parameters:
        - name: operation
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /transfers:
    get:
      tags:
        - Transfer
      summary: List Transfers
      description: ''
      operationId: list-transfers
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Transfer
      summary: Create Transfer
      operationId: create-transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Transfer
      summary: Update Transfer
      description: |-
        Only to be used by worker processes:
        - the connector to drive state from preparing to signing
        - the signer to drive state from signing to submitting
        - the connector to drive state from submitting through finalizing to succeeded

        Note that the engine performs the state change - the workers only update the transfer resource with new information.
      operationId: update-transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transfer'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /stakings:
    get:
      tags:
        - Staking
      summary: List Stakings
      description: ''
      operationId: list-stakings
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
    post:
      tags:
        - Staking
      summary: Create Staking
      operationId: create-staking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Staking'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
    put:
      tags:
        - Staking
      summary: Update Staking
      description: |-
        Only to be used by worker processes:
        - the connector to drive state from preparing to signing
        - the signer to drive state from signing to submitting
        - the connector to drive state from submitting through finalizing to succeeded

        Note that the engine performs the state change - the workers only update the transfer resource with new information.
      operationId: update-staking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Staking'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
  '/transfers/{transfer}':
    get:
      tags:
        - Transfer
      summary: Get Transfer
      description: ''
      operationId: get-transfer
      parameters:
        - name: transfer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Transfer
      summary: Delete Transfer
      operationId: delete-transfer
      parameters:
        - name: transfer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Transfer
      summary: Create Transfer
      operationId: import-transfer
      parameters:
        - name: transfer
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transfers/{transfer}/retry':
    post:
      tags:
        - Transfer
      summary: Retry Transfer
      description: |-
        Retry the transfer.  The current transaction will be marked to failed state and
        a new transaction will be created.  Treasury will ensure that the new transaction
        does not cause a double-send.

        This is useful to try again with new fee estimation, or perhaps
        the previous transaction is timed out for other reasons.
      operationId: transfer-retry
      parameters:
        - name: transfer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /users:
    get:
      tags:
        - User
      summary: List Users
      operationId: list-users
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - User
      summary: Generate User
      description: Engine picks a random user ID.
      operationId: generate-user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/users/{user}':
    get:
      tags:
        - User
      summary: Get User
      description: Retrieve the information of the user with the matching user ID.
      operationId: get-user
      parameters:
        - name: user
          in: path
          description: the user id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - User
      summary: Update User
      description: Update the information of an existing user.
      operationId: update-user
      parameters:
        - name: user
          in: path
          description: the user id
          required: true
          schema:
            type: string
      requestBody:
        description: Patch user properties to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - User
      summary: Delete User
      description: ''
      operationId: delete-user
      parameters:
        - name: user
          in: path
          description: the user id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - User
      summary: Create User
      description: ''
      operationId: create-user
      parameters:
        - name: user
          in: path
          description: the user id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}/assets':
    get:
      tags:
        - Asset
      summary: List Chain Assets
      description: ''
      operationId: list-chain-assets
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /roles:
    get:
      tags:
        - Role
      summary: List Roles
      operationId: list-roles
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/roles/{role}':
    get:
      tags:
        - Role
      summary: Get Role
      operationId: get-role
      parameters:
        - name: role
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Role
      summary: Update Role
      operationId: update-role
      parameters:
        - name: role
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Role
      summary: ''
      operationId: create-role
      parameters:
        - name: role
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/users/{user}/credentials':
    get:
      tags:
        - Credential
      summary: List User Credentials
      description: Lists all credentials of a given user.
      operationId: list-user-credentials
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
        - name: user
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Credential
      summary: Register Credential
      description: |-
        Associates a credential with the user. Engine picks a credential ID.

        See `Import Credential` for discussion of the two main cases.
      operationId: register-credential
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}/addresses':
    get:
      tags:
        - Address
      summary: List Chain Addresses
      operationId: list-chain-addresses
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
        - name: chain
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Address
      summary: Generate Address
      description: The generated address will have variant `internal`.
      operationId: generate-address
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /features:
    get:
      tags:
        - Feature
      summary: List Features
      operationId: get-features
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
        - name: page_token
          in: query
          schema:
            type: string
        - name: filter
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/features/{feature}':
    get:
      tags:
        - Feature
      summary: Get Feature
      operationId: get-feature
      parameters:
        - name: feature
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Feature
      summary: Update Feature
      description: 'Update metadata on a feature.  Note to enable or disable a feature, the custom /activate or /disable methods must be used.'
      operationId: update-feature
      parameters:
        - name: feature
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Feature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /access-rules:
    get:
      tags:
        - Access Policy
      summary: Get Access Policy
      description: 'Lists all access rules, which comprise the current access policy.'
      operationId: get-access-policy
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
        - name: page_token
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRulePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Access Policy
      summary: Create Access Rule
      operationId: create-access-rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRule'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/access-rules/{access-rule}':
    get:
      tags:
        - Access Policy
      summary: Get Access Rule
      operationId: get-access-rule
      parameters:
        - name: access-rule
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRule'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Access Policy
      summary: Delete Access Rule
      operationId: delete-access-rule
      parameters:
        - name: access-rule
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Access Policy
      summary: Update Access Rule
      operationId: update-access-rule
      parameters:
        - name: access-rule
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRule'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Access Policy
      summary: Import Access Rule
      operationId: import-access-rule
      parameters:
        - name: access-rule
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRule'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /transfer-rules:
    get:
      tags:
        - Transfer Policy
      summary: List Transfer Rules
      description: 'Lists all transfer rules, which comprise the current transfer policy.'
      operationId: list-transfer-rules
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRulePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Transfer Policy
      summary: Create Transfer Rule
      operationId: create-transfer-rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRule'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transfer-rules/{transfer-rule}':
    get:
      tags:
        - Transfer Policy
      summary: Get Transfer Rule
      operationId: get-transfer-rule
      parameters:
        - name: transfer-rule
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRule'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Transfer Policy
      summary: Delete Transfer Rule
      operationId: delete-transfer-rule
      parameters:
        - name: transfer-rule
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Transfer Policy
      summary: Create Named Transfer Rule
      description: Importing is the same as creating but the user specifies the resource ID in the URL.
      operationId: create-named-transfer-rule
      parameters:
        - name: transfer-rule
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRule'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Transfer Policy
      summary: Update Transfer Rule
      operationId: update-transfer-rule
      parameters:
        - name: transfer-rule
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRule'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /types:
    get:
      tags:
        - Type
      summary: List Resource Types
      operationId: list-types
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/types/{type}':
    get:
      tags:
        - Type
      summary: Get Resource Type
      operationId: get-type
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /treasury:
    get:
      tags:
        - Treasury
      summary: Get Treasury Singleton
      description: 'For an individual treasury deployment, the `Treasury` resource is a singleton, and can be fetched with this endpoint.'
      operationId: get-treasury-singleton
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Treasury'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Treasury
      summary: Update Treasury
      description: Added in `25.2.2`
      operationId: update-treasury-singleton
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Treasury'
      responses:
        '200':
          $ref: '#/components/responses/OperationNameJson'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /treasuries:
    get:
      tags:
        - Treasury
      summary: List Treasuries
      operationId: list-treasuries
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreasuryPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/treasuries/{treasury}':
    get:
      tags:
        - Treasury
      summary: Get Treasury
      operationId: get-treasury
      parameters:
        - name: treasury
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Treasury'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Treasury
      summary: Update Treasury
      description: Added in `25.2.2`
      operationId: update-treasury
      parameters:
        - name: treasury
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Treasury'
      responses:
        '200':
          $ref: '#/components/responses/OperationNameJson'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /keys:
    get:
      tags:
        - Key
      summary: List Keys
      operationId: list-keys
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Key
      summary: Generate Key
      description: Only `user` keys can be generated directly.
      operationId: create-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
  '/keys/{key}':
    get:
      tags:
        - Key
      summary: Get Key
      operationId: get-key
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Key
      summary: Update Key
      operationId: update-key
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
    post:
      tags:
        - Key
      summary: Generate Named Key
      description: Only `user` keys can be generated directly.
      operationId: create-named-key
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
  /signatures:
    get:
      tags:
        - Signature
      summary: List Signatures
      operationId: list-signatures
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignaturePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Signature
      summary: Generate Signature
      description: The `key` must be of variant `shared` or `user`.
      operationId: create-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
  '/signatures/{signature}':
    get:
      tags:
        - Signature
      summary: Get Signature
      operationId: get-signature
      parameters:
        - name: signature
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signature'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
    put:
      tags:
        - Signature
      summary: Update Signature
      operationId: update-signature
      parameters:
        - name: signature
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
      x-internal: false
    post:
      tags:
        - Signature
      summary: Create Named Signature
      operationId: create-named-signature
      parameters:
        - name: signature
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /key-requests:
    get:
      tags:
        - Key
      summary: List Key Requests
      operationId: list-key-requests
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyRequestPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /signature-requests:
    get:
      tags:
        - Signature
      summary: List Signature Requests
      operationId: list-signature-requests
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/signature-request/{id}':
    get:
      tags:
        - Signature
      summary: Get Signature Request
      operationId: get-signature-request-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequest'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/key-request/{id}':
    get:
      tags:
        - Key
      summary: Get Key Request
      operationId: get-key-request-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyRequest'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /transactions:
    get:
      tags:
        - Transaction
      summary: List Transactions
      operationId: list-transactions
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transactions/{transaction}':
    get:
      tags:
        - Transaction
      summary: Get Transaction
      operationId: get-transaction
      parameters:
        - name: transaction
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transactions/{transaction}/recheck':
    post:
      tags:
        - Transaction
      summary: Recheck transaction
      description: 'Changes a transaction to be back in `finalizing` state, forcing it to be re-observed on chain.'
      operationId: recheck-transaction
      parameters:
        - name: transaction
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /software-updates:
    get:
      tags:
        - Software Update
      summary: List Software Updates
      operationId: list-software-updates
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdatePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Software Update
      summary: Create Software Update
      description: ''
      operationId: create-software-updates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SoftwareUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/software-updates/{software-update}':
    get:
      tags:
        - Software Update
      summary: Get Software Update
      operationId: get-software-update
      parameters:
        - name: software-update
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdate'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Software Update
      summary: Update Software Update
      operationId: put-software-updates-software-update
      parameters:
        - name: software-update
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SoftwareUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Software Update
      summary: Delete Software Update
      operationId: delete-software-update
      parameters:
        - name: software-update
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/signers/{signer}':
    get:
      tags:
        - Signer
      summary: Get Signer
      operationId: get-signer
      parameters:
        - name: signer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /signers:
    get:
      tags:
        - Signer
      summary: List Signers
      operationId: list-signers
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignerPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}/symbols/{symbol}':
    get:
      tags:
        - Symbol
      summary: Get Symbol
      operationId: get-symbol
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Symbol'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    put:
      tags:
        - Symbol
      summary: Update Symbol
      operationId: update-symbol
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Symbol'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Symbol
      summary: Create Symbol
      operationId: create-symbol
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Symbol'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    delete:
      tags:
        - Symbol
      summary: Delete Symbol
      operationId: delete-symbol
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /symbols:
    get:
      tags:
        - Symbol
      summary: List Symbols
      description: ''
      operationId: list-symbols
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transfers/{transfer}/transactions':
    get:
      tags:
        - Transaction
      summary: List Transfer Transactions
      operationId: list-transfer-transactions
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
        - name: transfer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/signers/{signer}/key-responses/{key-request}':
    post:
      tags:
        - MPC
      summary: Propose Key Share
      description: Called by the signer after an MPC round of key generation or rotation.
      operationId: propose-key-share
      parameters:
        - name: signer
          in: path
          required: true
          schema:
            type: string
        - name: key-request
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    get:
      tags:
        - MPC
      summary: Get Key Response
      operationId: get-key-response
      parameters:
        - name: signer
          in: path
          required: true
          schema:
            type: string
        - name: key-request
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponse'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/signers/{signer}/signature-responses/{signature-request}':
    post:
      tags:
        - MPC
      summary: Propose Signature Share
      description: Called by the signer after an MPC round of signature generation.
      operationId: propose-signature-share
      parameters:
        - name: signer
          in: path
          required: true
          schema:
            type: string
        - name: signature-request
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    get:
      tags:
        - MPC
      summary: Get Signature Response
      operationId: get-signature-response
      parameters:
        - name: signer
          in: path
          required: true
          schema:
            type: string
        - name: signature-request
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureResponse'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/signers/{signer}/key-responses':
    get:
      tags:
        - MPC
      summary: List Key Responses
      operationId: list-key-responses
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
        - name: signer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponsePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/signers/{signer}/signature-responses':
    get:
      tags:
        - MPC
      summary: List Signature Responses
      operationId: list-signature-responses
      parameters:
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/page_token'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/output'
        - $ref: '#/components/parameters/page_number'
        - name: signer
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureResponsePage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/users/{user}/approvables':
    get:
      tags:
        - Operation
      summary: List approvable operations
      description: Show operations that can currently be approved by the user.  Added in `25.15.4`.
      operationId: list-approvable-operations
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationPage'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/users/{user}/heartbeat':
    post:
      tags:
        - User
      summary: Heartbeat User
      description: |-
        Custom method. Allowed to be called only by the given user.
        Updates `active_time` on the `User` resource.
        Body is empty.
      operationId: heartbeat-user
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transfer-rules/{transfer-rule}/activate':
    post:
      tags:
        - Transfer Policy
      summary: Activate Transfer Rule
      description: |-
        Custom method.
        Sets `state` of `TransferRule` to `active`, if it was `disabled`.
        Body is empty.
      operationId: activate-transfer-rule
      parameters:
        - name: transfer-rule
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transfer-rules/{transfer-rule}/disable':
    post:
      tags:
        - Transfer Policy
      summary: Disable Transfer Rule
      description: |-
        Custom method.
        Sets `state` of `TransferRule` to `disabled`, if it was `active`.
        Body is empty.
      operationId: disable-transfer-rule
      parameters:
        - name: transfer-rule
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/features/{feature}/activate':
    post:
      tags:
        - Feature
      summary: Activate Feature
      description: |-
        Custom method.
        Sets `state` of `Feature` to `active`, if it was `disabled`.
        Body is empty.
      operationId: activate-feature
      parameters:
        - name: feature
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/features/{feature}/disable':
    post:
      tags:
        - Feature
      summary: Disable Feature
      description: |-
        Custom method.
        Sets `state` of `Feature` to `disabled`, if it was `active`.
        Body is empty.
      operationId: disable-feature
      parameters:
        - name: feature
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transfers/{transfer}/abort':
    post:
      tags:
        - Transfer
      summary: Abort Transfer
      description: |-
        Abort the current transaction. It will be marked to be in failed state.
        This does not submit any new transaction to public blockchain.

        If the transaction is already mined by the public blockchain, there will be no
        effect on that.
      operationId: transfer-abort
      parameters:
        - name: transfer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/transfers/{transfer}/cancel':
    post:
      tags:
        - Transfer
      summary: Cancel Transfer
      description: Deprecated.  Use "Abort Transfer" instead.
      operationId: transfer-cancel
      parameters:
        - name: transfer
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      deprecated: true
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/chains/{chain}/assets/{assets}/price':
    post:
      tags:
        - Asset
      summary: Set Price
      description: Set price on an asset.
      operationId: set-asset-price
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
        - name: assets
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Price'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /assets/price:
    post:
      tags:
        - Asset
      summary: Set Prices
      operationId: set-prices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prices'
      responses:
        '200':
          $ref: '#/components/responses/OperationNameJson'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  '/stakings/{staking}':
    get:
      tags:
        - Staking
      summary: Get Staking
      operationId: get-staking
      parameters:
        - name: staking
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staking'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
    post:
      tags:
        - Staking
      summary: Create Staking
      operationId: import-staking
      parameters:
        - name: staking
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StakingCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationName'
      servers:
        - url: 'https://treasury.cordialapis.com/v1'
          description: Production
        - url: 'http://localhost:8777/v1'
          description: Development (port TRSR)
  /events:
    get:
      tags:
        - Events
      summary: Events
      description: |-
[...]
